/*卡片统一样式*/
.card{
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-sizing: border-box;
}

/*按钮统一样式*/
.button{
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
    outline: none;
}

.button-blue{
    color: #fff;
    background-color: #0084ff;
    border-color: #0084ff;
}

.button-blue:hover{
	border-color: #0077e6;
    background-color: #0077e6;
}

.button-white{
	color: #0084ff;
    border-color: #0084ff;
}

.button-white:hover{
    background-color: rgba(0,132,255,.06);
}

/*折叠*/
.answer-fold{
	height: 400px;
	overflow: hidden;
	
	/*-webkit-mask-image: linear-gradient(#1a1a1a calc(100% - 8rem),
	transparent calc(100% - 2.8rem));*/
}

/*顶部栏*/
.top{
	min-width: 1032px;
	height: 52px;
	width: 100%;
	background: white;
	box-shadow: 0 1px 3px rgba(26,26,26,.1);
	position: relative;
}

.top .top-inner{
	width:1000px;
	height: 52px;
	margin: 0 auto;
	padding: 0 16px;
	display: flex;
	align-items: center;
	
	position: relative;
}

/*LOGO*/
.top .top-inner .top-icon{
	display: block;
	width: 64px;
	height: 30px;
}

/*点击加载更多div*/
.add-more{
	height: 50px;
	color: #aaa;
}

.add-more .btn-addmore{
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	outline: none;
}

.add-more .btn-addmore:hover{
	color: #666;
}

/*点赞样式*/
.comments-container .comment-item .no{
	color: #8590a6;
}

.comments-container .comment-item .yes{
	color: #0084ff!important;
}

.comments-container .comment-item .no:hover{
	color: #77839c;
}