/*用户信息*/
.author-info{
	width: 650px;
	margin: 0 auto;
    padding: 16px 15px;
    font-size: 15px;
    color: #646464;
    display: flex;
    align-items: center;
}

.author-info .profile-photo{
	width: 70px;
	height: 70px;
}

.author-info .info-content{
	margin-left: 14px;
}

.author-info .info-content .author-name a{
    color: #646464;
}

.author-info .info-content .sentence{
	margin: 0;
	font-size: 14px;
}

/*内容*/
.content{
	width: 650px;
	margin: 0 auto 10px;
	padding: 0 15px;
}

.content p{
	color: #1a1a1a;
}

.content .edit-time{
	color: #8590a6;
}

/*评论列表*/
.comments-container{
    margin-top: 12px;
    background: #fff;
	border: 1px solid #ebebeb;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    border-radius: 4px;
}

.comments-container .comments-num{
    height: 50px;
    margin: 0 20px;
    border-bottom: 1px solid #f6f6f6;
    line-height: 50px;
    color: #646464;
}

.comments-container .comments-list .comment-item{
	position: relative;
	padding: 12px 20px 10px;
}

.comments-container .comments-list .comment-item::after{
	content: "";
	border-bottom: 1px solid #f6f6f6;
	display: block;
	position: relative;
	bottom: -20px;
}

.comments-container .comments-list .comment-item:last-child::after{
	display: none;
}

.comments-container .comments-list .comment-item .author-info{
	width: 100%;
	padding: 5px 0;
}

.comments-container .comments-list .comment-item .comment-time{
	position: absolute;
	right: 20px;
	top: 18px;
    font-size: 14px;
    color: #8590a6;
}

.comments-container .comments-list .comment-item .comment-content{
	font-size: 14px;
}

.comments-container .comments-list .comment-item .footer{
	margin-top: 5px;
}

.comments-container .comments-list .comment-item .footer button{
	padding: 3px 8px;
	border: 1px solid #e11111;
	border-radius: 2px;
	background: #fff;
	font-size: 14px;
	color: #e11111;
	transition: .1s;
}

.comments-container .comments-list .comment-item .footer button:hover{
	background: #e11111;
	color: #fff;
}

/*题图*/
.title-image{
	display: block;
	margin: 10px auto 0;
	width: 650px;
}