/*用户信息*/
.author-info{
	width: 650px;
	margin: 0 auto;
    padding: 16px 15px;
    font-size: 15px;
    color: #646464;
    display: flex;
    align-items: center;
}

.author-info .profile-photo{
	width: 70px;
	height: 70px;
}

.author-info .info-content{
	margin-left: 14px;
}

.author-info .info-content .author-name a{
    color: #646464;
}

.author-info .info-content .sentence{
	margin: 0;
	font-size: 14px;
}

/*内容*/
.content{
	width: 650px;
	margin: 0 auto 10px;
	padding: 0 15px;
}

.content p{
	color: #1a1a1a;
}

.content .edit-time{
	color: #8590a6;
}

/*评论列表*/
.comments-container{
    margin-top: 12px;
    background: #fff;
	border: 1px solid #ebebeb;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    border-radius: 4px;
}

.comments-container .comments-num{
    height: 50px;
    margin: 0 20px;
    border-bottom: 1px solid #f6f6f6;
    line-height: 50px;
    color: #646464;
}

.comments-container .comments-list .comment-item{
	position: relative;
	padding: 12px 20px 10px;
}

.comments-container .comments-list .comment-item::after{
	content: "";
	border-bottom: 1px solid #f6f6f6;
	display: block;
	position: relative;
	bottom: -20px;
}

.comments-container .comments-list .comment-item:last-child::after{
	display: none;
}

.comments-container .comments-list .comment-item .author-info{
	width: 100%;
	padding: 5px 0;
}

.comments-container .comments-list .comment-item .comment-time{
	position: absolute;
	right: 20px;
	top: 18px;
    font-size: 14px;
    color: #8590a6;
}

.comments-container .comments-list .comment-item .comment-content{
	font-size: 14px;
}

.comments-container .comments-list .comment-item .footer{
	margin-top: 5px;
}

.comments-container .comments-list .comment-item .footer button{
	padding: 3px 8px;
	border: 1px solid #e11111;
	border-radius: 2px;
	background: #fff;
	font-size: 14px;
	color: #e11111;
	transition: .1s;
}

.comments-container .comments-list .comment-item .footer button:hover{
	background: #e11111;
	color: #fff;
}

/*题图*/
.title-image{
	display: block;
	margin: 10px auto 0;
	width: 650px;
}

/*用户动态*/
.dynamic{
	width: 680px;
	margin: 10px auto;
}

.dynamic .list-item{
	position: relative;
	padding: 16px 20px;
	border-bottom: 1px solid #e9ecf3;
}

.dynamic .list-item .item-meta{
	position: relative;
}

.dynamic .list-item .item-meta .meta-time{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

.dynamic .list-item .item-content .content-title{
	margin: 0;
}

.dynamic .list-item .item-content .content-title a{
    color: #1a1a1a;
}

.dynamic .list-item .item-content .content-title a:hover{
	color: #175199;
}

.dynamic .list-item .item-content .content-inner{
	min-height: 100px;
	max-height: 150px;
	margin-top: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.dynamic .list-item .item-content .content-inner .content-img{
	width: 190px;
	height: 105px;
	overflow: hidden;
}

.dynamic .list-item .item-content .content-inner .content-img img{
	width: inherit;
	height: auto;
}

.dynamic .list-item .item-content .content-inner .content-text{
	width: 446px;
	height: 100px;
	margin-left: 10px;
	overflow: hidden;
	word-wrap: break-word;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

/*点击加载更多*/
.add-more{
	height: 50px;
	color: #aaa;
}

.add-more .btn-addmore{
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	outline: none;
}

.add-more .btn-addmore:hover{
	color: #666;
}

/*左边大块*/
.left-div{
	min-width: 740px;
}

/*右边大块*/
.right-div{
	min-width: 400px;
}

/*用户信息*/
.message{
	width: 380px;
	margin: 10px auto;
}

.message tr{
	display: block;
	margin: 30px 0;
}

.message .unit-title{
	width: 120px;
	color: #1a1a1a;
	font-weight: 500;
}

.message .unit-msg{
	color: #666;
}

.message .unit-msg img{
	width: 100px;
	height: auto;
}

/*首页量词span*/
.quantifier{
	display: inline-block;
	margin-left: 10px;
	font-size: 35px;
}

/*颜色*/
#div-orange{
    border: 1px solid #ff9243;
    border-top: 2px solid #ff9243;
    background: #ff9243;
}

#div-purple{
    border: 1px solid #8e44ad;
    border-top: 2px solid #8e44ad;
    background: #8e44ad;
}

/*首页三小块图标*/
.ico{
	font-size: 90px;
}

.ques-num{
	color: #fc9d59;
}

.arti-num{
	color: #9355ad;
}

/**/
.del-after th::after{
	display: none !important;
}
